:root {
    --fundo: #1a1919;
    --calculadora: rgb(8, 8, 8);
    --texto: white;
    --destaque: rgb(22, 70, 24);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fundo);
    height: 97vh;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.claro {
    --fundo: rgb(197, 197, 197);
    --calculadora: rgb(224, 224, 224);
    --texto: black;
    --destaque: rgb(255, 71, 71);
}

main {
    display:  grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 30px 120px 60px 60px 60px 60px;
    background-color: var(--calculadora);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--destaque);
}

div#menu {
    grid-area: 1/1/2/-1;
    border-bottom: 1px solid var(--fundo);
}

div#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: var(--fundo);
}

div#menu li {
    cursor: pointer;
}

div#menu li:hover {
    color: var(--destaque);
}

div#calculo {
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#calculo div,button {
    height: 60px;
}

div#calculo div {
    border-bottom: 1px solid var(--fundo);
    width: calc(100% - 80px);
    color: var(--texto);
    display: flex;
    align-items: center;
}

div#calculo button {
    padding: 10px;
    background-color: var(--calculadora);
}

input, button {
    cursor: pointer;
    background-color: var(--fundo);
    border: none;
    border-radius: 5px;
    color: var(--texto);
    font-size: 1.5em;
}

input.operacao,input#igual {
    background-color: var(--destaque);
}